# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\wokeSpace\java\31. 下一个排列（Lv.2）\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
