# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\wokeSpace\java\129. 求根到叶子节点数字之和（Lv.2）\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
